<div id="ingre">
    <p>Nombre: {{data[0]["nombre"]}}</p>
    <p>Cantidad: {{data[0]["cantidad"]}}</p>
    <p><button (click)="agua()">Comprar</button></p>
    <img width="100px" height="100px" src="assets/tazaagua.png">
</div>
<div id="ingre">
    <p>Nombre: {{data[1]["nombre"]}}</p>
    <p>Cantidad: {{data[1]["cantidad"]}}</p>
    <p><button (click)="azucar()">Comprar</button></p>
    <img width="100px" height="100px" src="assets/tazaazucar.png">
</div>
<div id="ingre">
    <p>Nombre: {{data[2]["nombre"]}}</p>
    <p>Cantidad: {{data[2]["cantidad"]}}</p>
    <p><button (click)="grenetina()">Comprar</button></p>
    <img width="100px" height="100px" src="assets/grenetina.png">
</div>
<div id="ingre">
    <p>Nombre: {{data[3]["nombre"]}}</p>
    <p>Cantidad: {{data[3]["cantidad"]}}</p>
    <p><button (click)="fresas()">Comprar</button></p>
    <img width="100px" height="100px" src="assets/fresas.png">
</div>

<div id="ingre">
    <p>Nombre: {{data[4]["nombre"]}}</p>
    <p>Cantidad: {{data[4]["cantidad"]}}</p>
    <p><button (click)="mango()">Comprar</button></p>
    <img width="100px" height="100px" src="assets/mango.png">
</div>
<div id="ingre">
    <p>Nombre: {{data[5]["nombre"]}}</p>
    <p>Cantidad: {{data[5]["cantidad"]}}</p>
    <p><button (click)="evaporada()">Comprar</button></p>
    <img width="100px" height="100px" src="assets/lecheevaporada.png">
</div>
<div id="ingre">
    <p>Nombre: {{data[6]["nombre"]}}</p>
    <p>Cantidad: {{data[6]["cantidad"]}}</p>
    <p><button (click)="limon()">Comprar</button></p>
    <img width="100px" height="100px" src="assets/tazalimon.png">
</div>
<div id="ingre">
    <p>Nombre: {{data[7]["nombre"]}}</p>
    <p>Cantidad: {{data[7]["cantidad"]}}</p>
    <p><button (click)="colorante()">Comprar</button></p>
    <img width="100px" height="100px" src="assets/coloranteverde.png">
</div>
<div id="ingre">
    <p>Nombre: {{data[8]["nombre"]}}</p>
    <p>Cantidad: {{data[8]["cantidad"]}}</p>
    <p><button (click)="melon()">Comprar</button></p>
    <img width="100px" height="100px" src="assets/melon.png">
</div>
<div id="ingre">
    <p>Nombre: {{data[9]["nombre"]}}</p>
    <p>Cantidad: {{data[9]["cantidad"]}}</p>
    <p><button (click)="clara()">Comprar</button></p>
    <img width="100px" height="100px" src="assets/clarahuevo.png">
</div>
<div id="ingre">
    <p>Nombre: {{data[10]["nombre"]}}</p>
    <p>Cantidad: {{data[10]["cantidad"]}}</p>
    <p><button (click)="vanilla()">Comprar</button></p>
    <img width="100px" height="100px" src="assets/ramavanilla.png">
</div>
<div id="ingre">
    <p>Nombre: {{data[11]["nombre"]}}</p>
    <p>Cantidad: {{data[11]["cantidad"]}}</p>
    <p><button (click)="yema()">Comprar</button></p>
    <img width="100px" height="100px" src="assets/yemadehuevo.png">
</div>
<div id="ingre">
    <p>Nombre: {{data[12]["nombre"]}}</p>
    <p>Cantidad: {{data[12]["cantidad"]}}</p>
    <p><button (click)="crema()">Comprar</button></p>
    <img width="100px" height="100px" src="assets/crema.png">
</div>