
<h3 style="padding-top: 1%; padding-left: 1%;">Registro de Inventario</h3>
<form style="padding: 1%" class="">
    <div class="form-group w-50">
    <label for="name1">Nombre</label>
    <input type="text" class="form-control" id="name1" placeholder="Nombre">
    </div>
    <div class="form-group w-50">
        <label for="cant1">Cantidad</label>
        <input type="number" class="form-control" id="cant1" placeholder="#">
        </div>
    <div class="form-group w-50">
      <label for="precio1">Precio</label>
      <input type="number" class="form-control" id="precio1" placeholder="$">
    </div>
    <div class="form-group w-50">
    <label for="year1">Año</label>
    <input type="number" class="form-control" id="year1" placeholder="Año">
    </div>
        <br>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

      <table class="table caption-top table-bordered table-hover">
      <caption style="text-align: center;">Inventario de la paleteria</caption>

        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Año</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="pt-4 pb-4">a</th>
            <td class="pt-4 pb-4">a</td>
            <td class="pt-4 pb-4">a</td>
            <td class="pt-4 pb-4">a</td>
            <td class="pt-4 pb-4">a</td>
          </tr>
          <tr>
            <th scope="row" class="pt-4 pb-4">b</th>
            <td class="pt-4 pb-4" >b</td>
            <td class="pt-4 pb-4">b</td>
            <td class="pt-4 pb-4">b</td>
            <td class="pt-4 pb-4">b</td>
          </tr>
          <tr>
            <th scope="row" class="pt-4 pb-4">c</th>
            <td class="pt-4 pb-4">c</td>
            <td class="pt-4 pb-4">c</td>
            <td class="pt-4 pb-4">c</td>
            <td class="pt-4 pb-4">c</td>
          </tr>
          <tr>
            <th scope="row" class="pt-4 pb-4">d</th>
            <td class="pt-4 pb-4">d</td>
            <td class="pt-4 pb-4">d</td>
            <td class="pt-4 pb-4">d</td>
            <td class="pt-4 pb-4">d</td>
          </tr>
          <tr>
            <th scope="row" class="pt-4 pb-4">d</th>
            <td class="pt-4 pb-4">d</td>
            <td class="pt-4 pb-4">d</td>
            <td class="pt-4 pb-4">d</td>
            <td class="pt-4 pb-4">d</td>
          </tr>
          <tr>
            <th scope="row" class="pt-4 pb-4">e</th>
            <td class="pt-4 pb-4">e</td>
            <td class="pt-4 pb-4">e</td>
            <td class="pt-4 pb-4">e</td>
            <td class="pt-4 pb-4">e</td>
          </tr>
          <tr>
            <th scope="row" class="pt-4 pb-4">f</th>
            <td class="pt-4 pb-4">f</td>
            <td class="pt-4 pb-4">f</td>
            <td  class="pt-4 pb-4">f</td>
            <td class="pt-4 pb-4">f</td>
          </tr>
          <tr>
            <th scope="row" class="pt-4 pb-4">g</th>
            <td class="pt-4 pb-4">g</td>
            <td class="pt-4 pb-4">g</td>
            <td class="pt-4 pb-4">g</td>
            <td class="pt-4 pb-4">g</td>
          </tr>
          
        </tbody>
      </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>  
 
