<!-- Menú de navegación  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Paletería</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="readLocalStorageValue()" [routerLink]="['inventario']">Inventario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="readLocalStorageValue()" [routerLink]="['proveedores']">Proveedores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="readLocalStorageValue()" [routerLink]="['empleados']">Empleados</a>
        </li>
        <li class="nav-item" style="float: right;">
          <a class="nav-link" *ngIf="loggedin()" [routerLink]="['registro']">Registro</a>
        </li>
        <li class="nav-item" style="float: right;">
          <a class="nav-link" *ngIf="loggedin()" [routerLink]="['login']">Login</a>
        </li>
        <li class="nav-item" style="float: right;">
          <a class="nav-link" *ngIf="!loggedin()" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Pantallas -->
<router-outlet></router-outlet>