
<form [formGroup]="profileForm" #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value,userPost)">
    <div class="container">
      <h1>Registrarse</h1>
      <p>Por favor llene los siguientes campos</p>
      <hr>

      <div *ngIf="nombre?.errors?.required && nombre?.touched" class="alert">
        * El nombre es requerido
      </div>

      <label for="nombre"><b>Nombre</b></label>
      <input type="text" id="nombre" placeholder="Ingrese su nombre" formControlName="nombre" ngModel required>
      

      <div *ngIf="correo?.invalid && correo?.touched" class="alert">
        <div *ngIf="correo?.errors?.required">
            * El correo es requerido
        </div>
        <div *ngIf="correo?.errors?.email">
            * Ingresa un correo valido porfavor
        </div>
        <div *ngIf="correo?.errors?.incorrect">
            * Ese correo ya esta registrado
        </div>
      </div>

      <label for="correo"><b>Correo</b></label>
      <input type="text" id="correo" placeholder="Ingrese su correo" formControlName="correo" ngModel required>

      <div *ngIf="numero?.invalid && numero?.touched" class="alert">
        <div *ngIf="numero?.errors?.required">
            * El número telefónico es requerido
        </div>
        <div *ngIf="numero?.errors?.minlength">
            * El numero telefonico debe ser de minimo 10 caracteres
        </div>
      </div>

      <label for="numero"><b>Telefono</b></label>
      <input type="text" placeholder="Ingrese su numero telefónico" id="numero" maxlength="10" formControlName="numero" ngModel required>
  
      <div *ngIf="contra?.invalid && contra?.touched" class="alert">
        <div *ngIf="contra?.errors?.required">
            * La contraseña es requerida
        </div>
        <div *ngIf="contra?.errors?.minlength">
            * La contraseña debe ser de minimo 8 characters
        </div> 
      </div>

      <label for="contra"><b>Contraseña</b></label>
      <input type="password" placeholder="Ingrese su contraseña" id="contra" formControlName="contra" ngModel required>
  
      <div *ngIf="scontra?.errors?.compare && scontra?.touched" class="alert">
        * Las contraseñas no son iguales
    </div>

      <label for="scontra"><b>Confirmar Contraseña</b></label>
      <input type="password" placeholder="Confirmar contraseña" id="scontra" formControlName="scontra" ngModel required>
      <hr>
        

      <p>Al crear una cuenta usted acepta nuestros <a href="#">Terminos y Condiciones</a>.</p>
      <button type="submit" class="registerbtn" [disabled]="profileForm.invalid">Registrarme</button>
    
    </div>
  
    <div class="container signin">
      <p>Ya tienes una cuenta? <a [routerLink]="['login']">Logeate</a>.</p>
    </div>
  

</form>




<br><br><br><br><br><br><br><br><br><br>


