
<form [formGroup]="profileForm" #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value,userPost)">
    <div class="container">
      <h1>Registro</h1>
      <p>Por favor llene los siguientes campos</p>
      <hr>

      <div *ngIf="nombre?.errors?.required && nombre?.touched" class="alert">
        * Nombre es requerido
      </div>

      <label for="nombre"><b>Nombre</b></label>
      <input type="text" id="nombre" placeholder="Ingrese su nombre" formControlName="nombre" ngModel required>
      

      <div *ngIf="correo?.invalid && correo?.touched" class="alert">
        <div *ngIf="correo?.errors?.required">
            * Correo es requerido
        </div>
        <div *ngIf="correo?.errors?.email">
            * Ingresa un correo valido
        </div>
        <div *ngIf="correo?.errors?.incorrect">
            * Correo ya existe
        </div>
      </div>

      <label for="email"><b>Email</b></label>
      <input type="text" id="correo" placeholder="Ingrese su correo" formControlName="correo" ngModel>

      <div *ngIf="numero?.invalid && numero?.touched" class="alert">
        <div *ngIf="numero?.errors?.required">
            * Numero telefonico es requerido
        </div>
        <div *ngIf="numero?.errors?.minlength">
            * Numero telefonico debe ser minimo 10 
        </div>
      </div>

      <label for="email"><b>Telefono</b></label>
      <input type="text" placeholder="Ingrese su numero telefónico" id="numero" maxlength="10" formControlName="numero" ngModel>
  
      <div *ngIf="contra?.invalid && contra?.touched" class="alert">
        <div *ngIf="contra?.errors?.required">
            * Contraseña es requerida
        </div>
        <div *ngIf="contra?.errors?.minlength">
            * Contraseña debe ser minimo 8 characters
        </div> 
      </div>

      <label for="psw"><b>Contraseña</b></label>
      <input type="password" placeholder="Ingrese su contraseña" id="contra" formControlName="contra" ngModel>
  
      <div *ngIf="scontra?.errors?.compare && scontra?.touched" class="alert">
        * Contraseña no son iguales
    </div>

      <label for="psw-repeat"><b>Confirmar Contraseña</b></label>
      <input type="password" placeholder="Confirmar contraseña" id="scontra" formControlName="scontra" ngModel>
      <hr>
        

      <p>Al crear una cuenta usted acepta nuestros <a href="#">Terminos y Condiciones</a>.</p>
      <button type="submit" class="registerbtn">Registrarme</button>
      
    </div>
  
    <div class="container signin">
      <p>Ya tienes una cuenta? <a href="#">Logeate</a>.</p>
    </div>
  

</form>



<br><br><br><br><br><br><br><br><br><br>


